:root {
    --accent-color: #2196F3;
}

/*==========header==========*/

.logo {
    font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em; 
} 
.start_name {
 color: #2196F3;
}
.finish_name {
    color: black;
}
.navigation_list_link {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.navigation_list_link:hover,
.navigation_list_link:focus {
    color: var(--accent-color);
}

.header_contact {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.header_contact:hover,
.header_contact:focus {
    color: var(--accent-color);
}
.address {
    font-style: normal;
}

/*==========end-header==========*/
/*==========hero==========*/

.target{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
/* color: #FFFFFF; */
}

.modal_btn {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
 color: white;
}
/* portfolio.html */
.buttons {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
}
.buttons:hover,
.buttons:focus {
color: #FFFFFF; 
}
.buttons:hover,
.buttons:focus {
    background-color: #2196F3;
}
.project_name {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.direction_of_work {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

/*==========end-hero==========*/
/*==========about==========*/

.strengths {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.strengths_description {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

/*==========end-about==========*/
/*==========our-team==========*/

.our_work, 
.our_team
{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.person_name {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.position {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/*==========end-our-team==========*/
/*==========contact-information==========*/

.location {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
/* color: #FFFFFF; */
}
.footer_contact {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
/* color: rgba(255, 255, 255, 0.6); */
}

/*==========end-contact-information==========*/